<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h1>MY Website 20230140220</h1>
<p>Selamat datang di aplikasi!</p>

<a href="/form">Input Data Mahasiswa</a> | <a href="/">Logout</a>

<h2>Data Mahasiswa</h2>
<table border="1" cellpadding="5">
    <tr>
        <th>No</th>
        <th>Nama</th>
        <th>NIM</th>
        <th>Jenis Kelamin</th>
    </tr>
    <tr th:if="${#lists.isEmpty(users)}">
        <td colspan="4" style="text-align: center;">Belum ada data</td>
    </tr>
    <tr th:each="user, stat : ${users}">
        <td th:text="${stat.count}">1</td>
        <td th:text="${user.nama}">Muhammad Islam</td>
        <td th:text="${user.nim}">20230140220</td>
        <td th:text="${user.jenisKelamin}">Laki-laki</td>
    </tr>
</table>
</body>
</html>